actionlib==1.11.13
angles==1.9.11
base-local-planner==1.14.3
bhand-controller==0.1.2
camera-calibration-parsers==1.11.13
catkin==0.7.11
certifi==2018.4.16
chardet==3.0.4
click==6.7
controller-manager==0.13.3
controller-manager-msgs==0.13.3
cv-bridge==1.12.8
dash==0.21.1
dash-core-components==0.13.0rc4
dash-html-components==0.11.0
dash-renderer==0.13.0
decorator==4.3.0
diagnostic-updater==1.9.3
dynamic-reconfigure==1.5.49
enum34==1.1.6
Flask==1.0.2
Flask-Compress==1.4.0
functools32==3.2.3.post2
gencpp==0.6.0
geneus==2.2.6
genlisp==0.4.16
genmsg==0.5.10
gennodejs==2.0.1
genpy==0.6.7
gunicorn==19.8.1
idna==2.7
image-geometry==1.12.8
interactive-markers==1.11.3
ipython-genutils==0.2.0
itsdangerous==0.24
Jinja2==2.10
jsonschema==2.6.0
jupyter-core==4.4.0
laser-geometry==1.6.4
MarkupSafe==1.0
message-filters==1.12.13
nbformat==4.4.0
numpy==1.14.5
plotly==2.7.0
pluginlib==1.11.3
pr2-power-board==1.1.6
py-trees==0.5.10
python-qt-binding==0.3.3
pytz==2018.4
qt-dotgraph==0.3.8
qt-gui==0.3.8
qt-gui-cpp==0.3.8
qt-gui-py-common==0.3.8
requests==2.19.1
resource-retriever==1.12.4
rocon-console==0.3.2
rocon-python-utils==0.3.2
rosbag==1.12.13
rosclean==1.14.3
rosgraph==1.12.13
roslaunch==1.12.13
roslib==1.14.3
roslint==0.11.0
roslz4==1.12.13
rosmaster==1.12.13
rosmsg==1.12.13
rosnode==1.12.13
rosparam==1.12.13
rospy==1.12.13
rosservice==1.12.13
rostest==1.12.13
rostopic==1.12.13
rosunit==1.14.3
roswtf==1.12.13
rqt-action==0.4.9
rqt-bag==0.4.12
rqt-bag-plugins==0.4.12
rqt-bhand==0.1.2
rqt-console==0.4.8
rqt-controller-manager==0.13.3
rqt-dep==0.4.9
rqt-ez-publisher==0.5.0
rqt-graph==0.4.9
rqt-gui==0.5.0
rqt-gui-py==0.5.0
rqt-image-view==0.4.11
rqt-joint-trajectory-controller==0.13.3
rqt-joint-trajectory-plot==0.0.1
rqt-launch==0.4.8
rqt-launchtree==0.2.0
rqt-logger-level==0.4.8
rqt-moveit==0.5.7
rqt-msg==0.4.8
rqt-multiplot==0.0.7
rqt-nav-view==0.5.7
rqt-plot==0.4.8
rqt-pose-view==0.5.8
rqt-pr2-dashboard==0.4.0
rqt-publisher==0.4.8
rqt-py-common==0.5.0
rqt-py-console==0.4.8
rqt-py-trees==0.3.1
rqt-reconfigure==0.4.10
rqt-robot-dashboard==0.5.7
rqt-robot-monitor==0.5.8
rqt-robot-steering==0.5.9
rqt-runtime-monitor==0.5.7
rqt-rviz==0.5.7
rqt-service-caller==0.4.8
rqt-shell==0.4.9
rqt-srv==0.4.8
rqt-tf-tree==0.5.8
rqt-top==0.4.8
rqt-topic==0.4.10
rqt-web==0.4.8
rqt-wrapper==0.1.4
rviz==1.12.16
scipy==1.1.0
sensor-msgs==1.12.6
six==1.11.0
smclib==1.8.1
tf==1.11.9
tf2-geometry-msgs==0.5.17
tf2-kdl==0.5.17
tf2-py==0.5.17
tf2-ros==0.5.17
topic-tools==1.12.13
traitlets==4.3.2
unique-id==1.0.5
urllib3==1.23
Werkzeug==0.14.1
